@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* opening */

.outerBorder {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openingDesign {
  margin: 0px;
  min-width: 35rem;
  min-height: 35rem;
  background-color: #F5F7FB;
  background-image: url(../src/images/blobs.png), url(../src/images/blob5.png);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.openingDesignYellow {
  width: 35%;
  align-self: flex-end;
}

.openingDesignBlue {
  width: 25%;
}

.headerTextContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  margin: .5rem;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #293264;
}

.subHeaderTitle {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.headerButton {
  margin: 1.5rem;
  border: none;
  width: 12rem;
  height: 3.3rem;
  background: #4D5B9E;
  border-radius: 1rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1rem;
  color: #F5F7FB;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2)
}

.headerButton:hover {
  background: skyblue;
  color: black;
}

.headerButton:active {
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, .2);
  background: white;
  color: lightgrey;
}

/* questions */

.questionsBackground {
  box-sizing: border-box;
  margin: 0px;
  padding-top: 25px;
  width: 35rem;
  min-height: 35rem;
  background-color: #F5F7FB;
  background-image: url(../src/images/blobs.png), url(../src/images/blob5.png);
  background-position: 107% -7%, -7% 107%;
  background-repeat: no-repeat, no-repeat;
}

.questionParts{
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

.questionRow {
  padding: 15px 75px 0px;
}

.question {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
  margin-bottom: 8px;
}

.choices {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #DBDEF0;
  gap: .75rem;
  padding-bottom: 15px;
}

.choiceButton {
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 10.24px;
  text-align: center;
  color: #293264;
  background-color: transparent;
  padding: 3px 8px;
  cursor: pointer;
}

.choiceButton.selected {
  background: #D6DBF5;
}

.choiceButton:hover {
  background-color: grey;
  color: white;
}

.choiceButton:active {
  background-color: white;
  color: lightgrey;
}

.checkButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.7rem;
}

.choiceButton.correctAnswer {
  background: #94D7A2;
}

.choiceButton.incorrectAnswer {
  color: grey;
  background: #F8BCBC;
}

.checkButton {
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10.24px;
  text-align: center;
  color: #F5F7FB;
  padding: 11px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2)
}

.checkButton:hover {
  background: skyblue;
  color: black;
}

.checkButton:active {
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, .2);
  background: white;
  color: lightgrey;
}

.score {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12.8px;
  text-align: center;
  color: #293264;
}
